html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/


@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #f1f4f7;
    margin-bottom: 60px;
}


/* --- Hero Section --- */
.hero {
    background: linear-gradient(330deg, #0026ff, #0076ff);
    color: white;
    text-align: center;
    padding: 060px 20px;
    border-radius: 12px;
    width: 90%;
    margin: 40px auto;
}

.hero-content h1 {
    font-size: 1.8rem;
    font-weight:bold;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1rem;
    opacity: 0.9;
}

.hero-btn {
    background: white;
    color: #0026ff;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
}