html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }

}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight:500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #f1f4f7;
    margin-bottom: 60px;
}


.header {
    background: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,0.1);
    padding: 10px 0;
    position: sticky;
    top: 0;
}

/* --- Nav Section --- */
.custom-shadow {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.nav-space-between {
    justify-content: space-between;
    height: 4em;
}

.ml-20 {
    margin-left: 20px;
}

.login-btn {
    background: #0026ff;
    color: #fff;
    border: none;
    border-radius: 35px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 1rem;
}

.login-btn:hover {
    background: #061953;
}

/* --- Hero Section --- */
.hero {
    background: linear-gradient(330deg, #0026ff, #0076ff);
    color: white;
    text-align: center;
    padding: 30px 20px;
    border-radius: 12px;
    width: 90%;
    margin: 20px auto;
}

.hero-content h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1rem;
    opacity: 0.9;
}

.hero-btn {
    background: white;
    color: #0026ff;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
}


/* --- Footer Section --- */
.footer {
    background: #111827;
    color: #eee;
    text-align: center;
    padding: 20px 0;
    font-size: 0.85rem;
    margin-top: 50px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}