@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-content">
        <h1>هر کتابی که می‌خواهی، اینجا هست</h1>
        <p>با بیش از ۲۰۰۰ عنوان کتاب در دسته‌بندی‌های مختلف، سفر مطالعاتی خود را آغاز کنید.</p>
        <a href="#" class="hero-btn">مشاهده فروش‌ها</a>
    </div>
</section>
